<html>
<head><title>Dual View</title>
{% load staticfiles%}
<link href="{% static 'dualview/css/default.css' %}" rel="stylesheet" type="text/css" />
</head>


 {% if not ctrl and not exp %}
 	<h1 class="title">No Images Selected - please select some experimental and/or control images to view.</h1>
 {% endif %}
<frameset rows="10%,90%">
<frame name="mainControls" id="mainControls" src="../main_controls"></frame>
 {% if ctrl and exp %}
  <frameset cols="50%,50%">
{% else %}
 <frameset cols="100%">
  
 {% endif %}
 
 
 {% if ctrl %}
 <frameset rows=85%,15%>
<frame name="control" id="control" src="https://wwwdev.ebi.ac.uk/mi/media/omero/webgateway/img_detail/{{ctrl.0}}/" name="top"></frame>

<frame name="navControl" id="navControl" src="../img_controls?controlOrExp=control"></frame>
</frameset>
{% endif %}

 {% if exp %}
<frameset rows=85%,15%>
<frame name="experimental" id="experimental" src="https://wwwdev.ebi.ac.uk/mi/media/omero/webgateway/img_detail/{{exp.0}}/" name="top"></frame>
<frame name="expControl" id="expControl" src="../img_controls?controlOrExp=experimental"></frame>
</frameset>
{% endif %}

</frameset>

</frameset>

</html>