<html>
<head>
<title>Img Controls</title>
{% load staticfiles%}
<link href="{% static 'dualview/css/default.css' %}" rel="stylesheet" type="text/css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="{% static 'dualview/js/img_view.js' %}"></script>
</head>
<div class="region region-content">
                <div class="block">
                    <div class="content">
                    	<div class="section">
                               
    								<div class="caption">
    										<div class="btn" id="prev">< < Previous</div>
    										<div class="btn" id="next">Next > ></div>
    											<div id="annotations" name="annotations">
    											</div>
    								</div>
								
						</div>
					</div>
				</div>
</div>
</html>